* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: rgb(38, 45, 51);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-main {
  position: relative;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
}
.winner {
  visibility: hidden;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
  background-color: black;
}
.visible {
  visibility: visible;
}
.disabled {
  pointer-events: none;
}
.box {
  background-color: whitesmoke;
  cursor: pointer;
}
p {
  color: #fff;
  animation: fade 1s forwards;
  animation-delay: 5s;
}
@keyframes fade {
  100% {
    opacity: 0;
  }
}
