* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: rgb(38, 45, 51);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
}
.winner {
  visibility: hidden;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
  background-color: black;
}
.visible {
  visibility: visible;
}
.disabled {
  pointer-events: none;
}
.box {
  background-color: whitesmoke;
  cursor: pointer;
  background-size: 100%;
}
p {
  color: #fff;
  animation: fade 1s forwards;
  animation-delay: 8s;
}
@keyframes fade {
  100% {
    opacity: 0;
  }
}
@media (max-width: 540px) {
  .game-main {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: repeat(5, 70px);
  }
}
